@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap');

:root{
    --primary:#5628AE;
    --black:#1F1E25;
    --white:#FFF;
}

.likeus_container{
    font-style: normal;
    line-height: normal;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
}

.first_row h1{
    color: #000;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.48px;
    margin-bottom: 16px;
}

.first_row p{
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; /* 125% */
    text-align: center;
    margin-bottom: 50px;
}

.second_row {
    display: flex;
    gap: 30px;
}

.likeus_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 17px   ;
    width: 288px;
    height: 288px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #D5D5D5;
    background: var(--white);
}
.likeus_box h1{
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.24px;
}

