@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap');

:root{
    --primary:#5628AE;
    --black:#1F1E25;
    --white:#FFF;
    --accent: #F5F3FF;
}

.logo_container{
    font-style: normal;
    line-height: normal;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
}
.logo_rectangle{
    border-radius: 50px;
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 129px 154px;
}
.logo_box {
    display: flex;
    gap:57px;
    flex-direction: column;
}


.logo_box .first_row{
    display: flex;
    gap: 81px;
}

.logo_box .second_row{
        display: flex;
        gap: 81px;
        justify-content: center;
}
.asana{
    display: flex;
}
.asana #one{
    margin-right: 15.23px;
}
.asana #two{
    margin-right: 7.78px;
}
.asana #three{
    margin-right: 5.06px;
}
.asana #four{
    margin-right: 10.6px;
}
.asana #five{
    margin-right: 6.62px;
}