@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap');

:root{
    --primary:#5628AE;
    --black:#1F1E25;
    --white:#FFF;
}

.home_container{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: normal;
    margin-top: 40px;
}

.rectangle{
    position: relative;
    background: linear-gradient(134deg, #5628AE 0%, #0D2F5D 65.63%);
    border-radius: 24px 24px 50px 24px;
    flex-shrink: 0;
    /* background: url(Home_images/Home_page_man.png), lightgray 50% / cover no-repeat ; */
    background-size: contain;
    background-position:right;
    background-repeat: no-repeat;
}

.rectangle img{
    position: absolute;
    right: 0;
    bottom: 0%;
}

.rectangle h1{
    color: var(--white);
    font-size: 64px;
    font-weight: 700;
    line-height: 70px; /* 109.375% */
    letter-spacing: -1.28px;
    margin-top: 157px;
    margin-left: 76px;
}

.rectangle p {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; /* 125% */
    margin-left: 76px;
    margin-top: 16px;
}
.rectangle button{
    display: flex;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: var(--white);
    border: none;
    color: var(--black);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.4px;
    margin-left: 76px;
    margin-top: 24px;
    margin-bottom: 158px;
}
