@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap');

:root{
    --primary:#5628AE;
    --black:#1F1E25;
    --secondary: #0D2F5D;
    --black:#1F1E25;
    --white:#FFF;
    --accent: #F5F3FF;
    --gray-200: #EAECF0;
    --gray-300: #D0D5DD;
    --gray-500: #667085;  
}

.navbar_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.ul li a {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
    color: var(--black);

}
.left a{
    text-decoration: none;
    color: var(--primary);
    font-size: 30px;
    font-weight: 700;

}